<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "GAME_ID"
        version   = "GAME_VERSION">

    <name>GAME_NAME</name>
    <description>GAME_DESCRIPTION</description>
    <author href="YOUR_WEBSITE" email="YOUR_EMAIL">YOUR_NAME</author>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version"           value="cli-8.0.0" />      <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="16" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>
    <preference name="StatusBarStyle" value="lightcontent" />

    <!-- Plugins -->
    <plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-console" />
    <plugin name="cordova-plugin-contacts" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-media-capture" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-vibration" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-insomnia" />
    <plugin spec="https://github.com/MartinDomig/cordova-plugin-nativeaudio" source="git" />

 <!-- Define app icon and splashscreen for each platform. -->
    <platform name="android">
        <icon   src="res/icon/android/drawable-ldpi-icon.png"               density="ldpi" />
        <icon   src="res/icon/android/drawable-mdpi-icon.png"               density="mdpi" />
        <icon   src="res/icon/android/drawable-hdpi-icon.png"               density="hdpi" />
        <icon   src="res/icon/android/drawable-xhdpi-icon.png"              density="xhdpi" />
        <icon   src="res/icon/android/drawable-xxhdpi-icon.png"             density="xxhdpi" />
        <icon   src="res/icon/android/drawable-xxxhdpi-icon.png"            density="xxxhdpi" />
        <splash src="res/screen/android/drawable-land-ldpi-screen.png"      density="land-ldpi" />
        <splash src="res/screen/android/drawable-land-mdpi-screen.png"      density="land-mdpi" />
        <splash src="res/screen/android/drawable-land-hdpi-screen.png"      density="land-hdpi" />
        <splash src="res/screen/android/drawable-land-xhdpi-screen.png"     density="land-xhdpi" />
        <splash src="res/screen/android/drawable-land-xxhdpi-screen.png"    density="land-xxhdpi" />
        <splash src="res/screen/android/drawable-land-xxxhdpi-screen.png"   density="land-xxxhdpi" />
        <splash src="res/screen/android/drawable-port-ldpi-screen.png"      density="port-ldpi" />
        <splash src="res/screen/android/drawable-port-mdpi-screen.png"      density="port-mdpi" />
        <splash src="res/screen/android/drawable-port-hdpi-screen.png"      density="port-hdpi" />
        <splash src="res/screen/android/drawable-port-xhdpi-screen.png"     density="port-xhdpi" />
        <splash src="res/screen/android/drawable-port-xxhdpi-screen.png"    density="port-xxhdpi" />
        <splash src="res/screen/android/drawable-port-xxxhdpi-screen.png"   density="port-xxxhdpi" />
        <preference name="fullscreen" value="true" />
    </platform>

    <platform name="ios">
        <icon   src="res/icon/ios/icon.png"                         platform="ios" width="57"   height="57" />
        <icon   src="res/icon/ios/icon@2x.png"                      platform="ios" width="114"  height="114" />
        <icon   src="res/icon/ios/icon-40.png"                      platform="ios" width="40"   height="40" />
        <icon   src="res/icon/ios/icon-40@2x.png"                   platform="ios" width="80"   height="80" />
        <icon   src="res/icon/ios/icon-50.png"                      platform="ios" width="50"   height="50" />
        <icon   src="res/icon/ios/icon-50@2x.png"                   platform="ios" width="100"  height="100" />
        <icon   src="res/icon/ios/icon-60.png"                      platform="ios" width="60"   height="60" />
        <icon   src="res/icon/ios/icon-60@2x.png"                   platform="ios" width="120"  height="120" />
        <icon   src="res/icon/ios/icon-60@3x.png"                   platform="ios" width="180"  height="180" />
        <icon   src="res/icon/ios/icon-72.png"                      platform="ios" width="72"   height="72" />
        <icon   src="res/icon/ios/icon-72@2x.png"                   platform="ios" width="144"  height="144" />
        <icon   src="res/icon/ios/icon-76.png"                      platform="ios" width="76"   height="76" />
        <icon   src="res/icon/ios/icon-76@2x.png"                   platform="ios" width="152"  height="152" />
        <icon   src="res/icon/ios/icon-small.png"                   platform="ios" width="29"   height="29" />
        <icon   src="res/icon/ios/icon-small@2x.png"                platform="ios" width="58"   height="58" />
        <icon   src="res/icon/ios/icon-small@3x.png"                platform="ios" width="87"   height="87" />
        <icon   src="res/icon/ios/icon-1024.jpg"                    platform="ios" width="1024" height="1024" />
        <splash src="res/screen/ios/Default-568h@2x~iphone.png"     platform="ios" width="640"  height="1136" />
        <splash src="res/screen/ios/Default-667h.png"               platform="ios" width="750"  height="1334" />
        <splash src="res/screen/ios/Default-736h.png"               platform="ios" width="1242" height="2208" />
        <splash src="res/screen/ios/Default-Landscape-736h.png"     platform="ios" width="2208" height="1242" />
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png"  platform="ios" width="2048" height="1536" />
        <splash src="res/screen/ios/Default-Landscape~ipad.png"     platform="ios" width="1024" height="768" />
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png"   platform="ios" width="1536" height="2048" />
        <splash src="res/screen/ios/Default-Portrait~ipad.png"      platform="ios" width="768"  height="1024" />
        <splash src="res/screen/ios/Default@2x~iphone.png"          platform="ios" width="640"  height="960" />
        <splash src="res/screen/ios/Default~iphone.png"             platform="ios" width="320"  height="480" />
        <preference name="fullscreen" value="false" />
        <preference name="StatusBarOverlaysWebView" value="false"/>
        <preference name="StatusBarBackgroundColor" value="#000000"/>
        <preference name="StatusBarStyle" value="lightcontent" />
    </platform>
</widget>
